# Coursera assignment: Build a Regression Model in Keras

## C. Increase the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

### Program Start

The predictors in the data of concrete strength include:

- Cement
- Blast Furnace Slag
- Fly Ash
- Water
- Superplasticizer
- Coarse Aggregate
- Fine Aggregate

Get the CSV file online

In [1]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2020-04-09 04:16:00--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 158.85.108.83, 169.48.113.194, 158.85.108.86
Connecting to cocl.us (cocl.us)|158.85.108.83|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2020-04-09 04:16:03--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

concrete_data.csv   100%[===================>]  57.61K  --.-KB/s    in 0.04s

2020-04-09 04:16:03 (1.31 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_concrete_data = pd.read_csv('concrete_data.csv')
print("The shape is" , df_concrete_data.shape)
df_concrete_data.head()

The shape is (1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
df_concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
# always check the null data entry
df_concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The dataframe is good to go

## Split data into Predictor and Target

In [6]:
concrete_data_columns = df_concrete_data.columns

df_predictor = df_concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
df_target = df_concrete_data['Strength'] # Strength column

In [7]:
df_predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
df_target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
print("The shape of the predictor is", df_predictor.shape)

n_cols = df_predictor.shape[1] # number of predictors
print("Input shape:", n_cols)

The shape of the predictor is (1030, 8)
Input shape: 8

## Normalize Data **(B)

In [10]:
df_predictor_norm = (df_predictor - df_predictor.mean()) / df_predictor.std()
df_predictor_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
df_target_norm = (df_target - df_target.mean()) / df_target.std()
df_target_norm.head()

0    2.644123
1    1.560663
2    0.266498
3    0.313188
4    0.507732
Name: Strength, dtype: float64

## Build model using Keras

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
# define a regression model

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train Test Split (holding 30% of the data for testing)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_predictor_norm, df_target_norm, test_size=0.3, random_state=42)

print("# of test samples :", X_test.shape[0])
print("# of training samples:",X_train.shape[0])

# of test samples : 309
# of training samples: 721

## Train Model

In [15]:
# build the model
model = regression_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                90
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Train the model with 50 epochs (fit)
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
721/721 [==============================] - 0s 685us/step - loss: 1.3034
Epoch 2/100
721/721 [==============================] - 0s 302us/step - loss: 1.1262
Epoch 3/100
721/721 [==============================] - 0s 304us/step - loss: 1.0014
Epoch 4/100
721/721 [==============================] - 0s 305us/step - loss: 0.9056
Epoch 5/100
721/721 [==============================] - 0s 386us/step - loss: 0.8314
Epoch 6/100
721/721 [==============================] - 0s 307us/step - loss: 0.7685
Epoch 7/100
721/721 [==============================] - 0s 333us/step - loss: 0.7155
Epoch 8/100
721/721 [==============================] - 0s 303us/step - loss: 0.6713
Epoch 9/100
721/721 [==============================] - 0s 328us/step - loss: 0.6340
Epoch 10/100
721/721 [==============================] - 1s 726us/step - loss: 0.6029
Epoch 11/100
721/721 [==============================] - 0s 309us/step - loss: 0.5754
Epoch 12/100
721/721 [==============================] - 0s 330us/step - loss: 0.5522
Epoch 13/100
721/721 [==============================] - 0s 301us/step - loss: 0.5322
Epoch 14/100
721/721 [==============================] - 0s 307us/step - loss: 0.5165
Epoch 15/100
721/721 [==============================] - 0s 358us/step - loss: 0.5006
Epoch 16/100
721/721 [==============================] - 0s 308us/step - loss: 0.4864
Epoch 17/100
721/721 [==============================] - 0s 296us/step - loss: 0.4732
Epoch 18/100
721/721 [==============================] - 0s 304us/step - loss: 0.4612
Epoch 19/100
721/721 [==============================] - 0s 387us/step - loss: 0.4511
Epoch 20/100
721/721 [==============================] - 0s 471us/step - loss: 0.4410
Epoch 21/100
721/721 [==============================] - 0s 414us/step - loss: 0.4325
Epoch 22/100
721/721 [==============================] - 0s 446us/step - loss: 0.4229
Epoch 23/100
721/721 [==============================] - 0s 493us/step - loss: 0.4138
Epoch 24/100
721/721 [==============================] - 0s 472us/step - loss: 0.4066 0s - loss: 0
Epoch 25/100
721/721 [==============================] - 0s 502us/step - loss: 0.3985
Epoch 26/100
721/721 [==============================] - 0s 502us/step - loss: 0.3917
Epoch 27/100
721/721 [==============================] - 0s 420us/step - loss: 0.3855
Epoch 28/100
721/721 [==============================] - 0s 332us/step - loss: 0.3771
Epoch 29/100
721/721 [==============================] - 0s 303us/step - loss: 0.3718
Epoch 30/100
721/721 [==============================] - 0s 304us/step - loss: 0.3658
Epoch 31/100
721/721 [==============================] - 0s 305us/step - loss: 0.3590
Epoch 32/100
721/721 [==============================] - 0s 277us/step - loss: 0.3525
Epoch 33/100
721/721 [==============================] - 0s 306us/step - loss: 0.3466
Epoch 34/100
721/721 [==============================] - 0s 276us/step - loss: 0.3404
Epoch 35/100
721/721 [==============================] - 0s 355us/step - loss: 0.3338 0s - loss: 0.3
Epoch 36/100
721/721 [==============================] - 0s 276us/step - loss: 0.3281
Epoch 37/100
721/721 [==============================] - 0s 360us/step - loss: 0.3217
Epoch 38/100
721/721 [==============================] - 0s 304us/step - loss: 0.3161
Epoch 39/100
721/721 [==============================] - 0s 279us/step - loss: 0.3102
Epoch 40/100
721/721 [==============================] - 0s 303us/step - loss: 0.3049
Epoch 41/100
721/721 [==============================] - 0s 329us/step - loss: 0.2997
Epoch 42/100
721/721 [==============================] - 0s 303us/step - loss: 0.2952
Epoch 43/100
721/721 [==============================] - 0s 305us/step - loss: 0.2915
Epoch 44/100
721/721 [==============================] - 0s 332us/step - loss: 0.2848
Epoch 45/100
721/721 [==============================] - 0s 307us/step - loss: 0.2805
Epoch 46/100
721/721 [==============================] - 0s 304us/step - loss: 0.2761
Epoch 47/100
721/721 [==============================] - 0s 307us/step - loss: 0.2713
Epoch 48/100
721/721 [==============================] - 0s 332us/step - loss: 0.2674
Epoch 49/100
721/721 [==============================] - 0s 356us/step - loss: 0.2637
Epoch 50/100
721/721 [==============================] - 0s 278us/step - loss: 0.2592
Epoch 51/100
721/721 [==============================] - 0s 279us/step - loss: 0.2557
Epoch 52/100
721/721 [==============================] - 0s 299us/step - loss: 0.2522
Epoch 53/100
721/721 [==============================] - 0s 304us/step - loss: 0.2481
Epoch 54/100
721/721 [==============================] - 0s 252us/step - loss: 0.2447
Epoch 55/100
721/721 [==============================] - 0s 309us/step - loss: 0.2408
Epoch 56/100
721/721 [==============================] - 0s 300us/step - loss: 0.2375
Epoch 57/100
721/721 [==============================] - 0s 494us/step - loss: 0.2339
Epoch 58/100
721/721 [==============================] - 0s 305us/step - loss: 0.2303
Epoch 59/100
721/721 [==============================] - 0s 356us/step - loss: 0.2270
Epoch 60/100
721/721 [==============================] - 0s 279us/step - loss: 0.2244
Epoch 61/100
721/721 [==============================] - 0s 335us/step - loss: 0.2210
Epoch 62/100
721/721 [==============================] - 0s 353us/step - loss: 0.2179
Epoch 63/100
721/721 [==============================] - 0s 304us/step - loss: 0.2152
Epoch 64/100
721/721 [==============================] - 0s 339us/step - loss: 0.2124
Epoch 65/100
721/721 [==============================] - 0s 324us/step - loss: 0.2104
Epoch 66/100
721/721 [==============================] - 0s 332us/step - loss: 0.2071
Epoch 67/100
721/721 [==============================] - 0s 358us/step - loss: 0.2039
Epoch 68/100
721/721 [==============================] - 0s 306us/step - loss: 0.2012
Epoch 69/100
721/721 [==============================] - 0s 304us/step - loss: 0.1994
Epoch 70/100
721/721 [==============================] - 0s 357us/step - loss: 0.1967
Epoch 71/100
721/721 [==============================] - 0s 310us/step - loss: 0.1942
Epoch 72/100
721/721 [==============================] - 0s 339us/step - loss: 0.1915
Epoch 73/100
721/721 [==============================] - 0s 334us/step - loss: 0.1891
Epoch 74/100
721/721 [==============================] - 0s 329us/step - loss: 0.1867
Epoch 75/100
721/721 [==============================] - 0s 332us/step - loss: 0.1852
Epoch 76/100
721/721 [==============================] - 0s 335us/step - loss: 0.1838
Epoch 77/100
721/721 [==============================] - 0s 668us/step - loss: 0.1812
Epoch 78/100
721/721 [==============================] - 0s 307us/step - loss: 0.1793
Epoch 79/100
721/721 [==============================] - 0s 326us/step - loss: 0.1776
Epoch 80/100
721/721 [==============================] - 0s 332us/step - loss: 0.1761
Epoch 81/100
721/721 [==============================] - 0s 336us/step - loss: 0.1749
Epoch 82/100
721/721 [==============================] - 0s 303us/step - loss: 0.1726
Epoch 83/100
721/721 [==============================] - 0s 307us/step - loss: 0.1711
Epoch 84/100
721/721 [==============================] - 0s 380us/step - loss: 0.1693
Epoch 85/100
721/721 [==============================] - 0s 279us/step - loss: 0.1676
Epoch 86/100
721/721 [==============================] - 0s 302us/step - loss: 0.1670
Epoch 87/100
721/721 [==============================] - 0s 304us/step - loss: 0.1657
Epoch 88/100
721/721 [==============================] - 0s 280us/step - loss: 0.1637
Epoch 89/100
721/721 [==============================] - 0s 327us/step - loss: 0.1626
Epoch 90/100
721/721 [==============================] - 0s 306us/step - loss: 0.1614
Epoch 91/100
721/721 [==============================] - 0s 307us/step - loss: 0.1601
Epoch 92/100
721/721 [==============================] - 0s 305us/step - loss: 0.1585
Epoch 93/100
721/721 [==============================] - 0s 306us/step - loss: 0.1575
Epoch 94/100
721/721 [==============================] - 0s 332us/step - loss: 0.1563
Epoch 95/100
721/721 [==============================] - 0s 304us/step - loss: 0.1554
Epoch 96/100
721/721 [==============================] - 0s 329us/step - loss: 0.1546
Epoch 97/100
721/721 [==============================] - 0s 306us/step - loss: 0.1535
Epoch 98/100
721/721 [==============================] - 0s 305us/step - loss: 0.1530
Epoch 99/100
721/721 [==============================] - 0s 531us/step - loss: 0.1516
Epoch 100/100
721/721 [==============================] - 0s 439us/step - loss: 0.1512

## Evaluate The Model

In [17]:
scores = model.evaluate(X_test, y_test)
# loss_val = model.evaluate(X_test, y_test, verbose=0) # to show the intermediate stage
y_pred = model.predict(X_test)
 
scores

309/309 [==============================] - 0s 257us/step

0.1765887595013893

## Compute the mean squared error

In [18]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

0.17658876294644205 0.0

## Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [19]:
epochs = 50

total_mean_squared_errors = 50
mean_squared_errors = []

for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(df_predictor_norm, df_target_norm, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Errors "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

Mean Squared Errors 1: 0.14248161442264384
Mean Squared Errors 2: 0.15981919219578739
Mean Squared Errors 3: 0.11738175968714902
Mean Squared Errors 4: 0.12590750740859116
Mean Squared Errors 5: 0.12227540774252808
Mean Squared Errors 6: 0.13284162472945588
Mean Squared Errors 7: 0.13574560145729953
Mean Squared Errors 8: 0.1053193275693165
Mean Squared Errors 9: 0.1206268871197037
Mean Squared Errors 10: 0.11917433697236009
Mean Squared Errors 11: 0.11202004325235546
Mean Squared Errors 12: 0.10221850655032592
Mean Squared Errors 13: 0.1279196222960756
Mean Squared Errors 14: 0.1322337057694648
Mean Squared Errors 15: 0.10241149831261835
Mean Squared Errors 16: 0.09170340464531797
Mean Squared Errors 17: 0.10672458473436269
Mean Squared Errors 18: 0.1122388373638434
Mean Squared Errors 19: 0.11171177429867409
Mean Squared Errors 20: 0.10635533005384952
Mean Squared Errors 21: 0.10948647399550503
Mean Squared Errors 22: 0.10831614402891362
Mean Squared Errors 23: 0.09112055652735689
Mean Squared Errors 24: 0.10611197593528476
Mean Squared Errors 25: 0.11856678246390859
Mean Squared Errors 26: 0.1188059660416205
Mean Squared Errors 27: 0.09695516984825381
Mean Squared Errors 28: 0.0942370184368686
Mean Squared Errors 29: 0.12500638488234053
Mean Squared Errors 30: 0.1253442430573374
Mean Squared Errors 31: 0.10316499843470102
Mean Squared Errors 32: 0.09941214503883158
Mean Squared Errors 33: 0.10236749559351542
Mean Squared Errors 34: 0.11023842680801466
Mean Squared Errors 35: 0.11167680759067289
Mean Squared Errors 36: 0.12283424490574495
Mean Squared Errors 37: 0.09987558592050592
Mean Squared Errors 38: 0.1183763170512363
Mean Squared Errors 39: 0.10252294564034947
Mean Squared Errors 40: 0.09762046633221956
Mean Squared Errors 41: 0.12234913350405431
Mean Squared Errors 42: 0.09461808725468164
Mean Squared Errors 43: 0.1084122543003181
Mean Squared Errors 44: 0.12012933479157852
Mean Squared Errors 45: 0.11995675465435658
Mean Squared Errors 46: 0.10515246682568276
Mean Squared Errors 47: 0.11332482897637346
Mean Squared Errors 48: 0.10897832520571342
Mean Squared Errors 49: 0.1132993987463053
Mean Squared Errors 50: 0.12418188632113263

## Report the mean and the standard deviation of the mean squared errors.

In [20]:
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean: 0.11359106536646882
Standard Deviation: 0.013469030106533315