# Coursera assignment: Build a Regression Model in Keras

## A. Build a baseline model (5 marks)

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

Submit your Jupyter Notebook with your code and comments.

### Program Start

The predictors in the data of concrete strength include:

- Cement
- Blast Furnace Slag
- Fly Ash
- Water
- Superplasticizer
- Coarse Aggregate
- Fine Aggregate

Get the CSV file online

In [1]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2020-04-09 03:44:54--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 158.85.108.86, 158.85.108.83, 169.48.113.194
Connecting to cocl.us (cocl.us)|158.85.108.86|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2020-04-09 03:44:55--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

concrete_data.csv   100%[===================>]  57.61K  --.-KB/s    in 0.04s

2020-04-09 03:44:55 (1.31 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_concrete_data = pd.read_csv('concrete_data.csv')
print("The shape is" , df_concrete_data.shape)
df_concrete_data.head()

The shape is (1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
df_concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
# always check the null data entry
df_concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The dataframe is good to go

## Split data into Predictor and Target

In [6]:
concrete_data_columns = df_concrete_data.columns

df_predictor = df_concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
df_target = df_concrete_data['Strength'] # Strength column

In [7]:
df_predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
df_target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
print("The shape of the predictor is", df_predictor.shape)

n_cols = df_predictor.shape[1] # number of predictors
print("Input shape:", n_cols)

The shape of the predictor is (1030, 8)
Input shape: 8

## Build model using Keras

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:
# define a regression model

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train Test Split (holding 30% of the data for testing)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_predictor, df_target, test_size=0.3, random_state=42)

print("# of test samples :", X_test.shape[0])
print("# of training samples:",X_train.shape[0])

# of test samples : 309
# of training samples: 721

## Train Model

In [13]:
# build the model
model = regression_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                90
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Train the model with 50 epochs (fit)
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 724us/step - loss: 456134.1180
Epoch 2/50
721/721 [==============================] - 0s 280us/step - loss: 289734.5734
Epoch 3/50
721/721 [==============================] - 0s 306us/step - loss: 162114.3052
Epoch 4/50
721/721 [==============================] - 0s 551us/step - loss: 80304.9271
Epoch 5/50
721/721 [==============================] - 0s 308us/step - loss: 35740.2971
Epoch 6/50
721/721 [==============================] - 0s 274us/step - loss: 16266.2989
Epoch 7/50
721/721 [==============================] - 0s 339us/step - loss: 9433.2755
Epoch 8/50
721/721 [==============================] - 0s 308us/step - loss: 7605.7366
Epoch 9/50
721/721 [==============================] - 0s 442us/step - loss: 7050.7093
Epoch 10/50
721/721 [==============================] - 0s 277us/step - loss: 6745.4057
Epoch 11/50
721/721 [==============================] - 0s 328us/step - loss: 6454.35740s - loss: 6557.00
Epoch 12/50
721/721 [==============================] - 0s 335us/step - loss: 6168.2725
Epoch 13/50
721/721 [==============================] - 0s 277us/step - loss: 5888.1663
Epoch 14/50
721/721 [==============================] - 0s 277us/step - loss: 5612.0637
Epoch 15/50
721/721 [==============================] - 0s 276us/step - loss: 5346.3004
Epoch 16/50
721/721 [==============================] - 0s 248us/step - loss: 5090.2487
Epoch 17/50
721/721 [==============================] - 0s 277us/step - loss: 4842.5482
Epoch 18/50
721/721 [==============================] - 0s 306us/step - loss: 4610.8016
Epoch 19/50
721/721 [==============================] - 0s 276us/step - loss: 4382.22200s - loss: 4437.
Epoch 20/50
721/721 [==============================] - 0s 273us/step - loss: 4166.7606
Epoch 21/50
721/721 [==============================] - 0s 333us/step - loss: 3956.1772
Epoch 22/50
721/721 [==============================] - 0s 251us/step - loss: 3763.8749
Epoch 23/50
721/721 [==============================] - 0s 305us/step - loss: 3575.3207
Epoch 24/50
721/721 [==============================] - 0s 282us/step - loss: 3390.7867
Epoch 25/50
721/721 [==============================] - 0s 253us/step - loss: 3225.6143
Epoch 26/50
721/721 [==============================] - 0s 305us/step - loss: 3065.9199
Epoch 27/50
721/721 [==============================] - 0s 302us/step - loss: 2912.8983
Epoch 28/50
721/721 [==============================] - 0s 364us/step - loss: 2770.3450
Epoch 29/50
721/721 [==============================] - 0s 302us/step - loss: 2634.2213
Epoch 30/50
721/721 [==============================] - 0s 304us/step - loss: 2507.8663
Epoch 31/50
721/721 [==============================] - 0s 304us/step - loss: 2387.6276
Epoch 32/50
721/721 [==============================] - 0s 304us/step - loss: 2275.5188
Epoch 33/50
721/721 [==============================] - 0s 332us/step - loss: 2169.7809
Epoch 34/50
721/721 [==============================] - 0s 302us/step - loss: 2068.1305
Epoch 35/50
721/721 [==============================] - 0s 332us/step - loss: 1974.5495
Epoch 36/50
721/721 [==============================] - 0s 309us/step - loss: 1889.9713
Epoch 37/50
721/721 [==============================] - 0s 324us/step - loss: 1805.3208
Epoch 38/50
721/721 [==============================] - 0s 303us/step - loss: 1727.9199
Epoch 39/50
721/721 [==============================] - 0s 304us/step - loss: 1656.7391
Epoch 40/50
721/721 [==============================] - 0s 306us/step - loss: 1589.9926
Epoch 41/50
721/721 [==============================] - 0s 275us/step - loss: 1523.8990
Epoch 42/50
721/721 [==============================] - 0s 283us/step - loss: 1463.9135
Epoch 43/50
721/721 [==============================] - 0s 300us/step - loss: 1408.4602
Epoch 44/50
721/721 [==============================] - 0s 278us/step - loss: 1357.6730
Epoch 45/50
721/721 [==============================] - 0s 305us/step - loss: 1306.6189
Epoch 46/50
721/721 [==============================] - 0s 279us/step - loss: 1259.4240
Epoch 47/50
721/721 [==============================] - 0s 281us/step - loss: 1216.1464
Epoch 48/50
721/721 [==============================] - 0s 357us/step - loss: 1174.9678
Epoch 49/50
721/721 [==============================] - 0s 358us/step - loss: 1135.9114
Epoch 50/50
721/721 [==============================] - 0s 307us/step - loss: 1100.0379

## Evaluate The Model

In [15]:
scores = model.evaluate(X_test, y_test)
# loss_val = model.evaluate(X_test, y_test, verbose=0) # to show the intermediate stage
y_pred = model.predict(X_test)
 
scores

309/309 [==============================] - 0s 215us/step

908.5862559099413

## Compute the mean squared error

In [16]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

908.5862444680388 0.0

## Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [17]:
epochs = 50

total_mean_squared_errors = 50
mean_squared_errors = []

for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(df_predictor, df_target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Errors "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

Mean Squared Errors 1: 298.3789247185667
Mean Squared Errors 2: 134.99038832087348
Mean Squared Errors 3: 109.17553066512913
Mean Squared Errors 4: 121.54464632793538
Mean Squared Errors 5: 121.36958821614583
Mean Squared Errors 6: 108.52132472559857
Mean Squared Errors 7: 139.07430457451582
Mean Squared Errors 8: 98.33745918150473
Mean Squared Errors 9: 119.21499495521718
Mean Squared Errors 10: 112.80297130597062
Mean Squared Errors 11: 107.09846496582031
Mean Squared Errors 12: 103.01061735184061
Mean Squared Errors 13: 115.70322788571849
Mean Squared Errors 14: 116.21136198074686
Mean Squared Errors 15: 108.96208474859836
Mean Squared Errors 16: 110.1343563042798
Mean Squared Errors 17: 104.38500601265423
Mean Squared Errors 18: 124.60925534936602
Mean Squared Errors 19: 96.07111941340672
Mean Squared Errors 20: 142.77576977381042
Mean Squared Errors 21: 121.81986135340817
Mean Squared Errors 22: 105.56562950850305
Mean Squared Errors 23: 107.37049665728819
Mean Squared Errors 24: 104.29864385907318
Mean Squared Errors 25: 147.93383863134292
Mean Squared Errors 26: 111.08219949172924
Mean Squared Errors 27: 119.08732163018779
Mean Squared Errors 28: 111.725199529654
Mean Squared Errors 29: 115.9165575095365
Mean Squared Errors 30: 114.40436482352347
Mean Squared Errors 31: 135.6587223188777
Mean Squared Errors 32: 111.04290745559248
Mean Squared Errors 33: 101.7858367722397
Mean Squared Errors 34: 128.1531226148883
Mean Squared Errors 35: 115.2167108282688
Mean Squared Errors 36: 127.66575331209548
Mean Squared Errors 37: 119.12665049235027
Mean Squared Errors 38: 115.21323565140511
Mean Squared Errors 39: 111.85825286173898
Mean Squared Errors 40: 116.09787982335754
Mean Squared Errors 41: 119.6992759334231
Mean Squared Errors 42: 111.1890834079977
Mean Squared Errors 43: 112.83968943376757
Mean Squared Errors 44: 110.95493326526629
Mean Squared Errors 45: 119.13882959853484
Mean Squared Errors 46: 115.61152194618793
Mean Squared Errors 47: 131.09933022310818
Mean Squared Errors 48: 114.91872803524474
Mean Squared Errors 49: 102.16111286249748
Mean Squared Errors 50: 114.26041999989728

## Report the mean and the standard deviation of the mean squared errors.

In [18]:
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean: 119.70534892302643
Standard Deviation: 27.74090062286817